<section class="aboutMe">
  <div class="content">
    <article>
      <h1>
        Fullstack
      </h1>
      <h1>
        Developer.
      </h1>
      <p>É foda fi.</p>
    </article>
    <span><img src="./assets/img/102995361.jpg" alt=""></span>
  </div>
  <div class="subContent">
    <p>Gosto de Back-End :)</p>
    <p>Gosto de Front-End também :)</p>
  </div>
</section>

<section class="description">
  <article class="description__leftArticle">
    <h1>ESQUERDA</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequuntur cumque ducimus ea earum facilis
      iste itaque maiores optio quaerat quo ratione, sapiente sunt tempora tenetur ut velit veritatis voluptatem!</p>
  </article>
  <article class="description__rightArticle">
    <h1>Direita</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium amet at commodi dolorem, dolores
      eligendi facere fugiat harum id incidunt inventore pariatur porro possimus ratione reprehenderit, tempora, totam
      voluptate?</p>
  </article>
</section>

<section class="myHistory">
  <article>
    <h1>Lorem ipsum dolor sit.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur numquam quibusdam ut. Assumenda
      delectus earum eius eligendi ex id rem tempora vel. Doloremque eius excepturi, harum numquam sit unde!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores assumenda blanditiis cupiditate, deserunt
      earum esse harum, iste maiores modi neque numquam placeat provident quae, reprehenderit tempora velit voluptates
      voluptatibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores assumenda blanditiis cupiditate, deserunt
      earum esse harum, iste maiores modi neque numquam placeat provident quae, reprehenderit tempora velit voluptates
      voluptatibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores assumenda blanditiis cupiditate, deserunt
      earum esse harum, iste maiores modi neque numquam placeat provident quae, reprehenderit tempora velit voluptates
      voluptatibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores assumenda blanditiis cupiditate, deserunt
      earum esse harum, iste maiores modi neque numquam placeat provident quae, reprehenderit tempora velit voluptates
      voluptatibus!</p>
  </article>
  <img src="./assets/img/Screenshot_2.png" alt="">
</section>
