<section id="aboutMe" class="aboutMe">
  <div class="aboutMe__content">
    <article>
      <h1>
        Fullstack
      </h1>
      <h1>
        Developer.
      </h1>
      <p>É foda fi.</p>
    </article>
    <span><img src="./assets/img/102995361.jpg" alt=""></span>
  </div>
  <div class="aboutMe__subContent">
    <p>Gosto de Back-End :)</p>
    <p>Gosto de Front-End também :)</p>
  </div>
</section>

<section id="description" class="description">
  <article class="description__leftArticle">
    <h1>ESQUERDA</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequuntur cumque ducimus ea earum facilis
      iste itaque maiores optio quaerat quo ratione, sapiente sunt tempora tenetur ut velit veritatis voluptatem!</p>
  </article>
  <article class="description__rightArticle">
    <h1>Direita</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium amet at commodi dolorem, dolores
      eligendi facere fugiat harum id incidunt inventore pariatur porro possimus ratione reprehenderit, tempora, totam
      voluptate?</p>
  </article>
</section>

<section id="myHistory" class="myHistory">
  <article>
    <h1>Lorem ipsum dolor sit.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur numquam quibusdam ut. Assumenda
      delectus earum eius eligendi ex id rem tempora vel. Doloremque eius excepturi, harum numquam sit unde!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores assumenda blanditiis cupiditate, deserunt
      earum esse harum, iste maiores modi neque numquam placeat provident quae, reprehenderit tempora velit voluptates
      voluptatibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores assumenda blanditiis cupiditate, deserunt
      earum esse harum, iste maiores modi neque numquam placeat provident quae, reprehenderit tempora velit voluptates
      voluptatibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores assumenda blanditiis cupiditate, deserunt
      earum esse harum, iste maiores modi neque numquam placeat provident quae, reprehenderit tempora velit voluptates
      voluptatibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores assumenda blanditiis cupiditate, deserunt
      earum esse harum, iste maiores modi neque numquam placeat provident quae, reprehenderit tempora velit voluptates
      voluptatibus!</p>
  </article>
  <img src="./assets/img/Screenshot_2.jfif" alt="">
</section>

<section id="whatIDo" class="whatIDo">
  <div class="container">
    <div class="whatIDo__leftCard">
      <article>
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, saepe?</p>
      </article>
      <span class="button__default button_animation">
        <div class="button__div">
          <a>See My Work</a>
          <svg id="eVXFKAm70BC1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
               viewBox="0 0 72 22" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
          <line x1="-36" y1="0" x2="36" y2="0" transform="matrix(.990068 0 0 1 35.595162 10.958431)" fill="none"
                stroke="#f45d01"/>
          <line x1="8.821303" y1="5.5" x2="-8.821303" y2="-5.5"
                transform="matrix(.999829-.018494 0.018494 0.999829 63.080565 5.66408)" fill="none" stroke="#f45d01"/>
          <line x1="8.821303" y1="5.5" x2="-8.821303" y2="-5.5"
                transform="matrix(.460519-.88765 0.88765 0.460519 63.057621 16.255801)" fill="none"
                stroke="#f45d01"/></svg>
        </div>
      </span>
    </div>
    <div>
      <article>
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, saepe?</p>
      </article>
      <span class="button__default button_animation">
        <div class="button__div">
          <a>See My Work</a>
          <svg id="eVXFKAm70BC1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
               viewBox="0 0 72 22" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
          <line x1="-36" y1="0" x2="36" y2="0" transform="matrix(.990068 0 0 1 35.595162 10.958431)" fill="none"
                stroke="#f45d01"/>
          <line x1="8.821303" y1="5.5" x2="-8.821303" y2="-5.5"
                transform="matrix(.999829-.018494 0.018494 0.999829 63.080565 5.66408)" fill="none" stroke="#f45d01"/>
          <line x1="8.821303" y1="5.5" x2="-8.821303" y2="-5.5"
                transform="matrix(.460519-.88765 0.88765 0.460519 63.057621 16.255801)" fill="none"
                stroke="#f45d01"/></svg>
        </div>
      </span>
    </div>
  </div>
</section>

<section id="contactMe" class="contactMe">
    <article>
      <h1>Me mande uma mensagem</h1>
      <p>Entre em contato comigo por favor quero emprego =)</p>
    </article>

    <form name="emailFormId" [formGroup]="emailForm" (ngSubmit)="sendEmail($event)">
      <div class="line">
        <div>
          <label for="name" [ngClass]="{'inputFocus': isNameInputFocusStyle}">Seu Nome</label>
          <input id="name"
                 placeholder="Seu Nominho aqui"
                 required
                 type="text"
                 (focus)="isNameInputFocusStyle = true"
                 (focusout)="isNameInputFocusStyle = false"
                 formControlName="name">
        </div>
        <div>
          <label for="email" class="" [ngClass]="{'inputFocus': isEmailInputFocusStyle}">Endereço de E-Mail</label>
          <input id="email"
                 placeholder="Seu E-mail emeiástico"
                 required
                 type="email"
                 (focus)="isEmailInputFocusStyle = true"
                 (focusout)="isEmailInputFocusStyle = false"
                 formControlName="email">
        </div>
      </div>
      <div class="line">
        <div>
          <label for="message" [ngClass]="{'inputFocus': isTextareaInputFocusStyle}">Sua Mensagem</label>
          <textarea id="message"
                    cols="30"
                    rows="10"
                    required
                    type="text"
                    placeholder="Sua Mensagem muito fofa iti malia, contrata noiz vai? se contrata? se vai contratar né? vai seu bobo, contrata noiz."
                    minlength="15"
                    (focus)="isTextareaInputFocusStyle = true"
                    (focusout)="isTextareaInputFocusStyle = false"
                    formControlName="message"></textarea>
        </div>
      </div>

    <button class="button__default button_animation" type="submit">
      <div class="button__div">
        See My Work
        <svg id="eVXFKAm70BC1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 72 22" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
          <line x1="-36" y1="0" x2="36" y2="0"
                transform="matrix(.990068 0 0 1 35.595162 10.958431)" fill="none"
                stroke="#f45d01"/>
          <line x1="8.821303" y1="5.5" x2="-8.821303" y2="-5.5"
                transform="matrix(.999829-.018494 0.018494 0.999829 63.080565 5.66408)" fill="none"
                stroke="#f45d01"/>
          <line x1="8.821303" y1="5.5" x2="-8.821303" y2="-5.5"
                transform="matrix(.460519-.88765 0.88765 0.460519 63.057621 16.255801)" fill="none"
                stroke="#f45d01"/>
        </svg>
      </div>
    </button>
    </form>
</section>
