<section id="aboutMe" class="aboutMe">
  <div class="aboutMe__content">
    <article>
      <h1>
        Fullstack
      </h1>
      <h1>
        Developer.
      </h1>
      <p>Olá! Me chamo Pedro Henrique e sou apaixonado por tecnologia e desenvolvimento de sistemas.</p>
    </article>
    <span><img src="./assets/img/102995361.jpg" alt=""></span>
  </div>
  <div class="aboutMe__subContent">
    <p>Habilidade para desenvolver aplicações completas e escaláveis.</p>
    <p>Foco no aprendizado, na qualidade e no trabalho em equipe.</p>
  </div>
</section>

<section id="description" class="description">
  <article class="description__leftArticle">
    <h1>Desenvolvimento de software</h1>
    <p>Como um entusiasta de TI, adoro explorar e conhecer novas tecnologias. Divirto-me muito nesse processo e o faço
      com muita paixão. Gosto tanto de hardware quanto de software e amo desenvolver interfaces e aplicações para
      solucionar problemas de forma escalável e com qualidade.</p>
  </article>
  <article class="description__rightArticle">
    <h1>Planejamento e Colaboração</h1>
    <p>Acredito que o trabalho em equipe é a peça central para a resolução de problemas. Quando se trata de planejar uma
      aplicação com um design robusto e flexível, não posso deixar de destacar a importância da colaboração em equipe.
      Trocar ideias e perspectivas não só enriquece o processo, como também o torna indispensável. Valorizo imensamente
      essa dinâmica de compartilhamento de conhecimento e experiências.</p>
  </article>
</section>

<section id="myHistory" class="myHistory">
  <article>
    <h1>Ao longo da minha carreira,</h1>
    <p>
      Ao longo da minha jornada profissional, sempre nutri um forte interesse pela tecnologia, embora minha experiência
      inicial tenha sido mais centrada nas relações humanas. Trabalhei em áreas como atendimento ao cliente e gestão de
      equipes pequenas e estoques, mas meu verdadeiro entusiasmo sempre esteve na tecnologia.

      <br><br>Ao final do ano passado tomei a decisão de fazer uma transição de carreira e mergulhar de cabeça no campo da tecnologia, com um
      foco específico em desenvolvimento web e de software. Cada passo desse novo caminho tem sido uma fonte de grande
      satisfação e alegria para mim.

      <br><br>Descobri que tenho uma paixão genuína por entender o funcionamento completo dos sistemas, desde o seu
      início até o fim, e adoro explorar maneiras de otimizá-los. Por isso, estabeleci como meta me tornar um
      desenvolvedor fullstack, com uma especialização no backend, já que é nessa área que estão minhas linguagens
      preferidas e os processos fundamentais de uma aplicação.

      <br><br>No momento, estou imerso no programa ONE da Oracle, especializando-me em Java - Backend, e realizando
      trilhas de carreira em Angular e Java pela Digital Innovation One. Além disso, estou participando de bootcamps
      oferecidos pelo Santander, como o Preparatório de Certificação AWS e o Santander Coders, e estou prestes a iniciar
      o segundo semestre da faculdade de Análise e Desenvolvimento de Sistemas.

      <br><br>Estou ansioso por uma oportunidade de ingressar no mercado de trabalho e compartilhar minhas experiências.
      Quero contribuir para a sociedade e fazer a diferença no mundo, aplicando meu desejo contínuo de inovação e
      aprendizado para beneficiar o mundo moderno.</p>
  </article>
  <img src="./assets/img/MyHistory.png" alt="">
</section>

<section id="whatIDo" class="whatIDo">
  <div class="container">
    <div class="whatIDo__leftCard">
      <article>
        <h1>Veja meus projetos</h1>
        <p>Costumo criar projetos para praticar, Veja aqui alguns destaques.</p>
      </article>
      <span class="button__default button__animation">
        <div class="button__div">
          <a>See My Work</a>
          <svg id="eVXFKAm70BC1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
               viewBox="0 0 72 22" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
          <line x1="-36" y1="0" x2="36" y2="0" transform="matrix(.990068 0 0 1 35.595162 10.958431)" fill="none"
                stroke="#f45d01"/>
          <line x1="8.821303" y1="5.5" x2="-8.821303" y2="-5.5"
                transform="matrix(.999829-.018494 0.018494 0.999829 63.080565 5.66408)" fill="none" stroke="#f45d01"/>
          <line x1="8.821303" y1="5.5" x2="-8.821303" y2="-5.5"
                transform="matrix(.460519-.88765 0.88765 0.460519 63.057621 16.255801)" fill="none"
                stroke="#f45d01"/></svg>
        </div>
      </span>
    </div>
    <div>
      <article>
        <h1>Sobre mim</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, saepe?</p>
      </article>
      <span class="button__default button__animation">
        <div class="button__div">
          <a>See My Work</a>
          <svg id="eVXFKAm70BC1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
               viewBox="0 0 72 22" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
          <line x1="-36" y1="0" x2="36" y2="0" transform="matrix(.990068 0 0 1 35.595162 10.958431)" fill="none"
                stroke="#f45d01"/>
          <line x1="8.821303" y1="5.5" x2="-8.821303" y2="-5.5"
                transform="matrix(.999829-.018494 0.018494 0.999829 63.080565 5.66408)" fill="none" stroke="#f45d01"/>
          <line x1="8.821303" y1="5.5" x2="-8.821303" y2="-5.5"
                transform="matrix(.460519-.88765 0.88765 0.460519 63.057621 16.255801)" fill="none"
                stroke="#f45d01"/></svg>
        </div>
      </span>
    </div>
  </div>
</section>

<section id="contactMe" class="contactMe">
  <article>
    <h1>Me mande uma mensagem</h1>
    <p>Entre em contato comigo por favor quero emprego =)</p>
  </article>

  <form name="emailFormId" [formGroup]="emailForm" (ngSubmit)="sendEmail($event)">
    <div class="line">
      <div>
        <label for="name" [ngClass]="{'inputFocus': isNameInputFocusStyle}">Seu Nome</label>
        <input id="name"
               placeholder="Seu Nominho aqui"
               required
               type="text"
               (focus)="isNameInputFocusStyle = true"
               (focusout)="isNameInputFocusStyle = false"
               formControlName="name">
      </div>
      <div>
        <label for="email" class="" [ngClass]="{'inputFocus': isEmailInputFocusStyle}">Endereço de E-Mail</label>
        <input id="email"
               placeholder="Seu E-mail emeiástico"
               required
               type="email"
               (focus)="isEmailInputFocusStyle = true"
               (focusout)="isEmailInputFocusStyle = false"
               formControlName="email">
      </div>
    </div>
    <div class="line">
      <div>
        <label for="message" [ngClass]="{'inputFocus': isTextareaInputFocusStyle}">Sua Mensagem</label>
        <textarea id="message"
                  cols="30"
                  rows="10"
                  required
                  type="text"
                  placeholder="Sua Mensagem muito fofa iti malia, contrata noiz vai? se contrata? se vai contratar né? vai seu bobo, contrata noiz."
                  minlength="15"
                  (focus)="isTextareaInputFocusStyle = true"
                  (focusout)="isTextareaInputFocusStyle = false"
                  formControlName="message"></textarea>
      </div>
    </div>

    <button class="button__default button__animation" type="submit">
      <div class="button__div">
        See My Work
        <svg id="eVXFKAm70BC1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 72 22" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
          <line x1="-36" y1="0" x2="36" y2="0"
                transform="matrix(.990068 0 0 1 35.595162 10.958431)" fill="none"
                stroke="#f45d01"/>
          <line x1="8.821303" y1="5.5" x2="-8.821303" y2="-5.5"
                transform="matrix(.999829-.018494 0.018494 0.999829 63.080565 5.66408)" fill="none"
                stroke="#f45d01"/>
          <line x1="8.821303" y1="5.5" x2="-8.821303" y2="-5.5"
                transform="matrix(.460519-.88765 0.88765 0.460519 63.057621 16.255801)" fill="none"
                stroke="#f45d01"/>
        </svg>
      </div>
    </button>
  </form>
</section>
