// styles Globals

h1 {
  color: var(--title);
  font-size: 4.5em;
}

p {
  color: var(--subtitle);
  font-size: 1.2rem;
}

svg {
  width: 4rem;
  height: 2rem;
}

section {
  height: 100vh;
  width: 100vw;
  background: var(--white-background);
}

.button__default {
  position: absolute;
  overflow: hidden;
  border: 1px solid var(--title);
}

.button_animation {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  min-width: 24rem;
  padding: 0.7rem 1rem;
  background-color: transparent;
  z-index: 1;
  font-weight: bold;

  .button__div {
    width: 100%;
    height: 100%;
    color: var(--title);
    background-color: transparent;
    display: inherit;
    align-items: center;
    justify-content: center;
    column-gap: 1.3rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      transform: translateX(-101%);
      transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      background: var(--title);
    }

    &:hover {
      cursor: pointer;
      color: var(--white-background);

      svg {
        line {
          stroke: var(--white-background);
        }
      }

      &::before {
        transform: translateX(0);
        transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }
}

.button__div {
}

.container {
  width: 75%;
  background: var(--white-hud);
  display: flex;
}

// styles Specificness

.aboutMe {
  background: linear-gradient(90deg, var(--complementary-color) 67%, var(--title) 33%);
  height: auto;
  width: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 6rem 8rem;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    article {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        align-self: flex-start;
      }

      p {
        margin: 10px;
        font-size: 2rem;
        color: white;
      }
    }

    span {
      width: 23vw;
      height: 23vw;
      border: 1px solid white;
      right: 13rem;
      z-index: 1;
      position: relative;
      overflow: visible;

      img {
        width: 23vw;
        position: relative;
        left: -1rem;
        top: -1rem;
        z-index: 2;
      }
    }
  }

  &__subContent {
    margin-top: 5vh;
    padding-left: 6rem;
    display: flex;
    flex-direction: row;

    p {
      font-size: 1.3rem;
      color: var(--subtitle);
      padding-right: 5rem;
      margin: 0 10px;
      filter: contrast(14);
    }
  }
}

.description {
  display: flex;
  width: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;

  article {
    width: 40rem;
  }

  &__leftArticle {
    position: relative;
    top: -10rem;
  }

  &__rightArticle {
    position: relative;
    top: 10rem;
  }
}

.myHistory {
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: space-between;
  align-items: center;
  column-gap: 10rem;
  padding: 0 10rem;
  word-spacing: 3px;
  background: var(--complementary-color);

  article {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  img {
    width: 25rem;
  }

  p {
    margin: 10px;
    font-size: 1rem;
    filter: contrast(13);
  }
}

.whatIDo {
  background: var(--white-background);
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;

  .container {
    div {
      font-weight: bold;
      padding: 6rem;

      .button__div {
        padding: 0;

        a {
          font-size: 1.4rem;
        }
      }

      h1 {
        font-size: 3.5rem;
      }

      p {
        margin: 1rem 0 2rem 0;
        font-size: 1.5rem;
      }
    }
  }

  &__leftCard {
    border-right: 1px solid var(--complementary-color);
  }
}

.contactMe {
  display: flex;
  width: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  background-color: var(--white-hud);

  .line {
    display: flex;
    flex-direction: row;

    div {
      display: flex;
      flex-direction: column;
      margin-right: 5rem;
      width: 100%;
    }
  }

  article {
    font-weight: bold;
    text-align: center;
    padding-bottom: 4rem;

    p {
      padding-top: 1rem;
      font-weight: 400;
      font-size: 2rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    width: 70%;

    button {
      align-self: center;
    }

    .inputFocus {
      font-weight: 500;
      filter: contrast(200%);
      transition: filter 3s cubic-bezier(0.23, 1, 0.32, 1), font-weight 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    }

    label {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      color: var(--title);
    }

    input, textarea {
      font-size: 2rem;
      font-weight: inherit;
      border: none;
      border-bottom: var(--title) solid 1px;
      max-height: 6rem;
      resize: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 1.5rem;
        color: var(--title);
        filter: grayscale(0.5);
      }
    }
  }

  .button__div {
    height: 3rem;
    font-size: 1.4rem;
  }
}

// Media Query

@media (min-width: 1400px) {
  h1 {
    font-size: 3.5em;
  }

  p {
    font-size: 1rem;
  }
}
