// styles Globals

h1 {
  color: var(--title);
  font-size: 4.5em;
}

p {
  color: var(--subtitle);
  font-size: 1.2rem;
}

svg {
  width: 4rem;
  height: 2rem;
}

section {
  width: 100vw;
  height: 100vh;
  background: var(--white-background);
}

.button__default {
  position: absolute;
  overflow: hidden;
  border: 1px solid var(--title);
}

.button_animation {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  width: 100%;
  min-width: 24rem;
  padding: 0.7rem 1rem;
  background-color: transparent;
  z-index: 1;
  font-weight: bold;

  a {
    color: var(--title);
    background-color: transparent;
    display: inherit;
    align-items: center;
    column-gap: 1.3rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      transform: translateX(-101%);
      transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      background: var(--title);
    }

    &:hover {
      cursor: pointer;
      color: var(--white-background);

      svg {
        line {
          stroke: var(--white-background);
        }
      }
      &::before {
        transform: translateX(0);
        transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }
}

// styles Specificness

.aboutMe {
  background: linear-gradient(90deg, var(--purple) 67%, var(--title) 33%);
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 6rem 8rem;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    article {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        align-self: flex-start;
      }

      p {
        margin: 10px;
        color: white;
      }
    }

    span {
      width: 23rem;
      height: 23rem;
      border: 1px solid white;
      right: 16rem;
      z-index: 1;
      position: relative;
      overflow: visible;

      img {
        width: 23rem;
        margin-right: 10rem;
        position: relative;
        left: -1rem;
        top: -1rem;
        z-index: 2;
      }
    }
  }

  &__subContent {
    margin-top: 5vh;
    padding-left: 6rem;
    display: flex;
    flex-direction: row;

    p {
      font-size: .9rem;
      color: var(--subtitle);
      padding-right: 8rem;
      margin: 0 10px;
    }
  }
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;

  article {
    width: 40rem;
  }

  &__leftArticle {
    position: relative;
    top: -10rem;
  }

  &__rightArticle {
    position: relative;
    top: 10rem;
  }
}

.myHistory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10rem;
  padding: 0 10rem;
  word-spacing: 3px;
  background: var(--purple);

  article {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  img {
    width: 25rem;
  }

  p {
    margin: 10px;
    font-size: 1rem;
  }
}

.whatIDo {
  background: var(--white-background);
  display: flex;
  justify-content: center;
  align-items: center;

  .contentBox {
    width: 80%;
    background: var(--white-hud);
    display: flex;
    flex-direction: row;
    align-items: center;

    div {
      padding: 7rem;
      font-weight: bold;

      h1 {
        font-size: 3.5rem;
      }

      p {
        margin: 1rem 0 2rem 0;
        font-size: 1.5rem;
      }
    }
  }

  &__leftCard {
    border-right: 1px solid var(--purple);
  }
}
