@import url('https://fonts.cdnfonts.com/css/sf-ui-text-2');

:root {
  --title:#f69c5e;
  --subtitle: #828a9a;
  --complementary-color: #24272e;
  --white-background: #F9F9F9;
  --white-hud: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SF UI Text', sans-serif;
}

@media (min-width: 581px) {
  html {
    font-size: 1vw;
  }
}

@media (max-width: 580px) {
  html {
    font-size: 2vh;
  }
}
