@import url('https://fonts.cdnfonts.com/css/sf-ui-text-2');

:root {
  --title: #F45D01;
  --subtitle: #EEB902;
  --purple: #592dd2;
  --white-background: #F9F9F9;
  --white-hud: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SF UI Text', sans-serif;
  font-size: 1vw;
}

